/* Links: replicate underline that clears descenders */
a:link,
a:visited {
  color: inherit;
}

.no-underline:link {
  background: unset;
  text-shadow: unset;
}

a:link,
.underline,
.hover-underline:hover {
  text-decoration: none;
  background:
    -webkit-linear-gradient(var(--bg), var(--bg)),
    -webkit-linear-gradient(var(--bg), var(--bg)),
    -webkit-linear-gradient(currentColor, currentColor);
  background:
    linear-gradient(var(--bg), var(--bg)),
    linear-gradient(var(--bg), var(--bg)),
    linear-gradient(currentColor, currentColor);

  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.20em 1px, 1px 1px;

  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow:
    0.03em 0 var(--bg),
    -0.03em 0 var(--bg),
    0 0.03em var(--bg),
    0 -0.03em var(--bg),
    0.06em 0 var(--bg),
    -0.06em 0 var(--bg),
    0.09em 0 var(--bg),
    -0.09em 0 var(--bg),
    0.12em 0 var(--bg),
    -0.12em 0 var(--bg),
    0.15em 0 var(--bg),
    -0.15em 0 var(--bg);
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  a:link, .underline, .hover-underline:hover {
    background-position-y: 87%, 87%, 87%;
  }
}

::selection,
::-moz-selection,
a:link::selection,
a:link::-moz-selection {
  background: var(--select);
}


a:link::selection,
a:link::-moz-selection {
  text-shadow:
    0.03em 0 var(--select),
    -0.03em 0 var(--select),
    0 0.03em var(--select),
    0 -0.03em var(--select),
    0.06em 0 var(--select),
    -0.06em 0 var(--select),
    0.09em 0 var(--select),
    -0.09em 0 var(--select),
    0.12em 0 var(--select),
    -0.12em 0 var(--select),
    0.15em 0 var(--select),
    -0.15em 0 var(--select);
}
